/* 컨테이너 크기의 max수치가 430px일 경우 발동 */
@media screen and (max-width:430px){
  /* 컨테이너 크기를 고정함. */
  #container {
    width: 430px;
    height: 1864px;
  }
/* 높이의 간격을 퍼센트로 맞춤 */
  header {
    width: 100%;
    height: 10%;
  }
 /* 벡터 이미지를 표시함 */
  header > div > svg {
    
    display:block;
    visibility: visible;
    position: relative;
    left: 72px;
    
  }
  /* 목록 부분을 감춤 */
  header > nav {
    display: none;
    visibility:hidden;
  }
/* 중단 부분의 크기를 퍼센트로 정함 */
  main {
    width:100%;
    height: 80%;
  }
  /* 중단의 블록1의 부분을 퍼센트로 정한 후, 요구에 맞게 패딩을 조절함 */
  main > div:nth-child(1) {
    width: 100%;
    height: 50%;
    padding-left: 0px;
    padding-right: 20px;
  }
  /* 글의 자간을 맞추기 위해 line-height을 조절함. */
  main > div:nth-child(1) > article {
    width: 100%;
    line-height: 55%;
  }
  /* 변경된 자간만큼의 바깎여백값을 추산하여 적용함.(수정필요) */
  main > div:nth-child(1) > div  {
    width: 100%;
    margin-top: 120px;
  }
  /* 벡터 이미지 및 내용글의 위치 및 폭맞춤을 조절함. */
  main > div:nth-child(1) > div > div {
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
    
  }

  /* 높이를 퍼센트로 변경 및 안쪽여백을 요구에 맞게 수정 */
  main > div:nth-child(2) {
    height: 50%;
    padding-left: 10px;
  }
   /* 헤드라인의 길이를 디자이너의 요구에 맞게 수정 */
  main > div:nth-child(2) > hr {
    width: 80%;
  }
  /* 하단의 높이를 퍼센트로 바꾼 후 안쪽여백을 요구에 맞게 수정 */
  footer {
    height: 10%;
    padding: 40px 20px;
  }


}
